<h1>Listing newtasks</h1>

<table>
  <tr>
    <th>Task</th>
    <th>Timeduration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @newtasks.each do |newtask| %>
  <tr>
    <td><%= newtask.task %></td>
    <td><%= newtask.timeduration %></td>
    <td><%= link_to 'Show', newtask %></td>
    <td><%= link_to 'Edit', edit_newtask_path(newtask) %></td>
    <td><%= link_to 'Destroy', newtask, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Newtask', new_newtask_path %>
